
/*--StartPage--*/

.statHeaders {
    color: #1D530F;
    text-align: center;
    font-size: 35px;
}

.positionStyle {
    padding-top: 70px;
}

.statText {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}

.image-container {
    display: flex;
    justify-content: center;
}

.center {
    text-align: center;
    color: #424242;
}

.centerBottomPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 70px;
}

.borderStylingRight {
    border-right: 2px solid black;
}

.borderStylingLeft {
    border-left: 2px solid black;
}
/*--Administer Users--*/

.centerText {
    text-align: center;
}

.centerImage {
    display: block;
    margin: 0 auto;
}

/*--CustomerDetails--*/

.tableHeader {
    color: #1D530F;
}

/*--Footer--*/

#footer {
    position: fixed;
    bottom: 0;
}