/*--StartPage--*/
.statHeaders {
    color: #1D530F;
    text-align: center;
    font-size: 35px;
}

.positionStyle {
    padding-top: 50px;
}

/*.borderStyling {
    border: 1px solid grey;
}*/

.statText {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}

.image-container {
    display: flex;
    justify-content: center;
}

#footer {
    margin-top: 1500px;
    position: fixed;
    bottom: 0;
}
