@model Banksystem.ViewModels.StatisticsViewModel

<h1>Antal konton</h1> 
<h2>@Model.AmountOfAccounts</h2>
<br />
<h1>Antal kunder</h1>
<h2>@Model.AmountOfCustomers</h2>
<br />
<h1>Total summa av alla bankkonton</h1>
<h2>@Model.SumOfAccountBalances</h2>