@model Banksystem.ViewModels.AccountTransactions
<br />
<h3>Account @Model.AccountId</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col" class="tableHeader">Transaction date</th>
            <th scope="col" class="tableHeader">Type of transaction</th>
            <th scope="col" class="tableHeader">Transaction amount</th>
            <th scope="col" class="tableHeader">Balance</th>
        </tr>
    </thead>
    <tbody id="hejsan">
        <partial name="_TransactionView" model=@Model />
    </tbody>
</table>
@Html.Hidden("skippy")
<br />
<button class="btn btn-success" id="showMore">Show more (20)</button>
<a class="btn btn-success" asp-route-id="@Model.CustomerId" asp-controller="Customer" asp-action="CustomerDetails">Back to Details</a>

<script>
    $(document).ready(function () {
        $('#skippy').val(0);
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };
        $('#showMore').on("click", function () {
            var accountId = getUrlParameter('accountId');
            let skip = $('#skippy').val();
            skip = parseInt(skip) + 20;
            $('#skippy').val(skip);
            console.log(skip);
            GetTransactions();
        });

        function GetTransactions() {
            let skip = $('#skippy').val();
            var accountId = getUrlParameter('accountId');
            $.ajax({
                type: "POST",
                url: "/Account/AccountTransactionDetails?accountId=" + accountId + "&skip=" + skip,
                success: function (data) {
                    var tables = $('#hejsan').html();
                    tables += data;
                    console.log(tables);
                    $('#hejsan').html(tables);
                }
            });
        }
    });

</script>